.classpath
.project
.settings/org.eclipse.core.resources.prefs
logic/.gitignore
ui/.gitignore
javadoc/allclasses-index.html
javadoc/allpackages-index.html
javadoc/copy.svg
javadoc/element-list
javadoc/help-doc.html
javadoc/index-all.html
javadoc/index.html
javadoc/link.svg
javadoc/member-search-index.js
javadoc/module-search-index.js
javadoc/overview-summary.html
javadoc/overview-tree.html
javadoc/package-search-index.js
javadoc/script.js
javadoc/search-page.js
javadoc/search.html
javadoc/search.js
javadoc/stylesheet.css
javadoc/tag-search-index.js
javadoc/type-search-index.js
javadoc/legal/ADDITIONAL_LICENSE_INFO
javadoc/legal/ASSEMBLY_EXCEPTION
javadoc/legal/jquery.md
javadoc/legal/jqueryUI.md
javadoc/legal/LICENSE
javadoc/logic/EventManager.html
javadoc/logic/package-summary.html
javadoc/logic/package-tree.html
javadoc/logic/UserManager.html
javadoc/logic/VenueManager.html
javadoc/models/Admin.html
javadoc/models/Arena.html
javadoc/models/Auditorium.html
javadoc/models/Concert.html
javadoc/models/Customer.html
javadoc/models/Event.html
javadoc/models/OpenAir.html
javadoc/models/Organizer.html
javadoc/models/package-summary.html
javadoc/models/package-tree.html
javadoc/models/Special.html
javadoc/models/Sport.html
javadoc/models/Stadium.html
javadoc/models/Ticket.html
javadoc/models/User.html
javadoc/models/Venue.html
javadoc/resources/glass.png
javadoc/resources/x.png
javadoc/script-dir/jquery-3.7.1.min.js
javadoc/script-dir/jquery-ui.min.css
javadoc/script-dir/jquery-ui.min.js
javadoc/ui/MenuHandler.html
javadoc/ui/package-summary.html
javadoc/ui/package-tree.html
javadoc/ui/RunTicketMiner.html
logic/EventManager.html
logic/package-summary.html
logic/package-tree.html
logic/UserManager.html
logic/VenueManager.html
models/Admin.html
models/Arena.html
models/Auditorium.html
models/Concert.html
models/Customer.html
models/Event.html
models/OpenAir.html
models/Organizer.html
models/package-summary.html
models/package-tree.html
models/Special.html
models/Sport.html
models/Stadium.html
models/Ticket.html
models/User.html
models/Venue.html
ui/MenuHandler.html
ui/package-summary.html
ui/package-tree.html
ui/RunTicketMiner.html
CS 3331 Lab Report.pdf
javadoc.zip
Team1_SourceCode.zip
Team1_UML_Class_Diagram.pdf
Team1_UseCase_Diagram.pdf
