/Admin.class
/Arena.class
/Auditorium.class
/Concert.class
/Customer.class
/Event.class
/OpenAir.class
/Organizer.class
/Stadium.class
/Ticket.class
/User.class
/Venue.class
/Special.class
/Sport.class
